.container-box {
    width: 100%;
    min-height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    color: white;

    .menu-content{
        .menu-icon{
            .icon-slide {
                transition: 500ms;
                &.active{            
                    transform: rotate(-180deg);
                }
            }
        }
        .menu-slide{
            display: flex;
            justify-content: space-between;
        }
        .menu-slide-content {
            transition: 500ms;
            width: 0;
            opacity: 0;
            &.active {
                width: 200px;
                opacity: 1;
            }
        }
    }


  }
  
