<!-- Modal -->
<div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none">
                    <h3 class="p-3 justify-center" style="color: #673AB7">REGISTER NEW ACCOUNT</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">                
                    <form class="example-form" #registerForm="ngForm"  (ngSubmit)="register(registerForm.value)">
                        <!-- Username -->
                        <mat-form-field class="example-full-width mb-3">
                            <input matInput 
                                type="text" 
                                [(ngModel)]="Username"
                                name="Username"                                
                                placeholder="Username" 
                                [errorStateMatcher]="matcher">
                            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                            <mat-error *ngIf="usernameFormControl.hasError('username') && !usernameFormControl.hasError('required')">
                                (*) Please enter a valid username
                            </mat-error>
                            <mat-error *ngIf="usernameFormControl.hasError('required')">
                                (*) Username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
        
                        <!-- Password -->
                        <mat-form-field class="example-full-width mb-3">
                            <input matInput type="password"                                     
                                    [(ngModel)]="Password"
                                    name="Password"
                                    placeholder="Password" 
                                    [errorStateMatcher]="matcher">
                            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                            <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                                (*) Please enter a valid password
                            </mat-error>
                            <mat-error *ngIf="passwordFormControl.hasError('required')">
                                (*) Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <!-- Phone -->
                        <mat-form-field class="example-full-width mb-3">
                            <input matInput type="number" 
                                    [(ngModel)]="PhoneNumber"
                                    name="PhoneNumber"
                                    placeholder="Phone Number" 
                                    [errorStateMatcher]="matcher">
                            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                            <mat-error *ngIf="phoneFormControl.hasError('password') && !phoneFormControl.hasError('required')">
                                (*) Please enter a valid phone number
                            </mat-error>
                            <mat-error *ngIf="phoneFormControl.hasError('required')">
                                (*) Phone number is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <!-- email -->
                        <mat-form-field class="example-full-width mb-3">
                            <input matInput type="email"
                                    [(ngModel)]="Email"
                                    name="Email"
                                    placeholder="Email" 
                                    [errorStateMatcher]="matcher">
                            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                            <mat-error *ngIf="emailFormControl.hasError('password') && !emailFormControl.hasError('required')">
                                (*) Please enter a valid phone number
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                (*) Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
        
                        <div class="d-flex justify-content-center mt-3">
                            <button mat-raised-button type="submit" class="btnLogin" style="color: white; background: #673AB7; font-size: 18px; width: 100%;padding: 5px">REGISTER</button>
                        </div>
                    </form>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>